Source: libtertiusqbit-application-model-rbac-db-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libtertiusqbit-application-model-db-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-rbac-db-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libtertiusqbit-application-model-db-perl
Conflicts: libqbit-application-model-rbac-db-perl
Replaces: libqbit-application-model-rbac-db-perl
Description: RBAC DB realization.
 RBAC DB realization. Get and store roles and rights into DB.
